@import '../../../../vendor/filament/filament/resources/css/theme.css';
@config './tailwind.config.js';

.fi-simple-layout {
    /* Use the correct relative path to your image */
    background-image: url('../images/auth-bg-image.png'); 
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.7);
}

  
